<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="django form with utf-8">
    <meta name="author" content="wichit2s">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Linux Services</title>

    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
      .filled {
        width: 80%;
        padding: 5px;
      }
      .spacing {
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <nav> <h1> Linux Services Page </h1> </nav>
    <div>
      <section class="filled">
        <form action="index" method="POST" enctype="multipart/form-data;charset=UTF-8">
          {% csrf_token %}
          <div class="spacing"><input class="filled" type="text" name="icon" value="icon ไอคอน"/></div>
          <div class="spacing"><input class="filled" type="text" name="title" value="title บริการ"/></div>
          <div class="spacing"><input class="filled" type="text" name="detail" value="detail รายละเอียด"/></div>
          <div class="spacing"><button style="padding: 2em;" type="submit">Submit</button></div>
        </form>
        
      </section>
      <div>
       <table style="width:80%; border: 1px solid black; padding: 1em;">
        <tr>
          <th>Icon</th>
          <th>Title</th>
          <th>Detail</th>
        </tr>
        {% for s in services %}
        <tr>
          <td> <i class="fa {{s.icon}}"></i> {{ s.icon }}</td>
          <td>{{ s.title }}</td>
          <td>{{ s.detail }}</td>
        </tr>
        {% endfor %}
      </table>

      <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Discestion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <a href="profile"><div class="spacing"><button style="padding: 2em;" type="submit" >Profile</button></div></a>
    <footer>
      <div>
        <div>Copyright &copy; 2019 </div>
      </div>
    </footer>
  </body>

</html>